<table cellpadding="10" cellspacing="0" width="100%">
	<tr class="offers-header">
		<th width="15%"><span>Изображение</span></th>
		<th width="1.66%"></th>
		<th width="25%"><span>Название</span></th>
		<th width="1.66%"></th>
		<th width="30%"><span>Категории</span></th>
		<th width="1.66%"></th>
		<th width="25%"><span>Процент мужчин и женщин</span></th>
	</tr>
	<% if @users %>
		<% @users.each do |f| %>
			<tr height="10"></tr>
			<tr class="offers-row mine ">
				<% begin %>
					<% youtubeinfoid=YoutubeInfoId.find(f.youtube_info_id.to_i) %>
				<% rescue %>
					<% youtubeinfoid=f %>
					<% if f.user_id %>
						<% f=User.find(f.user_id) %>
					<% else %>
						<% f=nil %>
					<% end %>
				<% end %>

				<% @user=f %>
				<% if f %>
					<% if !@id || f.category.include?("id"+@id+",") %>
						<td class="item-channel"><a href="/profile/<%= f.id %>" target="_blank"><img src="<%= youtubeinfoid.image %>"></a></td>
						<td></td>
						<td>
							<p class="channel-table-name"><a href="/profile/<%= f.id %>" target="_blank"><%= youtubeinfoid.name %></a></p>
							<p class="channel-write"><a href="/profile/<%= f.id %>" target="_blank">Написать</a></p>
						</td>
						<td></td>
						<% catArray=f.category.split(",") %>
						<td>
							<% catArray.each do |f| %>
								<% category=Category.find(f.gsub("id", "").to_i) %>
								<span><%= category.name %><% if catArray.last!=f %>, <% end %></span>
							<% end %>
						</td>
						<td></td>
						<td>
							<% genders=youtubeinfoid.gender.split(",") %>
							<span><%= genders[0] %> <%= genders[1] %>%, <%= genders[2] %> <%= genders[3] %>%</span>
						</td>
						<td></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	<% end %>
</table>