<%= form_for(@offer, :url=>@url) do |f| %>
  <div class="field">
    <%= f.label :project_type %><br />
    <%= f.text_field :project_type %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :application_deadline %><br />
    <%= f.text_field :application_deadline %>
  </div>
  <div class="field">
    <%= f.label :targe_audience_geos %><br />
    <%= f.text_field :targe_audience_geos %>
  </div>
  <div class="field">
    <%= f.label :location_dependent %><br />
    <%= f.text_field :location_dependent %>
  </div>
  <div class="field">
    <%= f.label :location_dependent_boolean %><br />
    <%= f.check_box :location_dependent_boolean %>
  </div>
  <div class="field">
    <%= f.label :target_channel_categories %><br />
    <%= f.text_field :target_channel_categories %>
  </div>
  <div class="field">
    <%= f.label :subscriber_range %><br />
    <%= f.text_field :subscriber_range %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>