
<style type="text/css">
	.wrap-checkbox{
		width: 45%;
	}
	.second-block{
		margin-left: 50%;
	}
	.first-block{
		float: left;
	}
</style>

<%= form_for(@user, :url=>@url) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.hidden_field :category, :class=>"hidden_category" %>
    <div class="category_section">
    	<% if @user.category && @user.category.include?(",") %>
    		<% @user.category.split(",").each do |f| %>
    			<% id=f.gsub("id", "") %>
    			<% category=Category.find(id.to_i) %>
    			<span class='selected-category-item' data-id='<%= id %>'><%= category.name %> <span onclick='destroy_category(this)'>Удалить</span> </span>
    		<% end %>
    	<% end %>
    </div>
    <div class="select-category">
    	<select>
    		<% Category.all.each do |f| %>
    			<option value="<%= f.id %>"><%= f.name %></option>
    		<% end %>
    	</select>
    	<button class="add-category">Add category</button>
    </div>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <%= f.fields_for :youtube_info_id do |builder| %>
	  <div class="first-block wrap-checkbox">
	  	  <div class="field">
		    <%= builder.label :create_videos %><br />
		    <%= builder.check_box :create_videos %>
		  </div>
		  <div class="field">
		    <%= builder.label :making_channel_toghether %><br />
		    <%= builder.check_box :making_channel_toghether %>
		  </div>
		  <div class="field">
		    <%= builder.label :cross_promotions_and_email_lists %><br />
		    <%= builder.check_box :cross_promotions_and_email_lists %>
		  </div>
		  <div class="field">
		    <%= builder.label :recommended_channel_swapping %><br />
		    <%= builder.check_box :recommended_channel_swapping %>
		  </div>
		  <div class="field">
		    <%= builder.label :annotation_or_end_card_or_link_swapping %><br />
		    <%= builder.check_box :annotation_or_end_card_or_link_swapping %>
		  </div>
		  <div class="field">
		    <%= builder.label :open_to_other_types %><br />
		    <%= builder.check_box :open_to_other_types %>
		  </div>
		  <div class="field not-interested">
		  	<label>Not interesting</label>
			<input type="checkbox" class="signup-form-not_interested" name="not_interested">
		  </div>
	  </div>

	  <div class="second-block wrap-checkbox">
	  	  <div class="field">
		    <%= builder.label :brand_product_integration %><br />
		    <%= builder.check_box :brand_product_integration %>
		  </div>
		  <div class="field">
		    <%= builder.label :product_reviews %><br />
		    <%= builder.check_box :product_reviews %>
		  </div>
		  <div class="field">
		    <%= builder.label :dedicated_videos %><br />
		    <%= builder.check_box :dedicated_videos %>
		  </div>
		  <div class="field">
		    <%= builder.label :revenue_affiliate %><br />
		    <%= builder.check_box :revenue_affiliate %>
		  </div>
		  <div class="field">
		    <%= builder.label :spokesperson %><br />
		    <%= builder.check_box :spokesperson %>
		  </div>
		  <div class="field">
		    <%= builder.label :offyoutube_promotion %><br />
		    <%= builder.check_box :offyoutube_promotion %>
		  </div>
		  <div class="field">
		    <%= builder.label :including_brand_videos %><br />
		    <%= builder.check_box :including_brand_videos %>
		  </div>
		  <div class="field">
		    <%= builder.label :open_to_other_types_sponsor %><br />
		    <%= builder.check_box :open_to_other_types_sponsor %>
		  </div>
		  <div class="field not-interested">
		  	<label>Not interesting</label>
			<input type="checkbox" class="signup-form-not_interested" name="not_interested">
		  </div>
	  </div>
  <% end %>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>

<script type="text/javascript">
	$(".signup-form-not_interested").change(function(){
		$(this).parents(".wrap-checkbox").find("input[type='checkbox']").removeAttr("checked");
		$(this).prop('checked', true);
	})

	$("input[type='checkbox']").change(function(){
		if($(this).attr("class")!="signup-form-not_interested"){
			$(this).parents(".wrap-checkbox").find(".signup-form-not_interested").prop('checked', false);
		}
	})

	$(".add-category").click(function(e){
		e.preventDefault();
		valId=$(this).parents(".select-category").find("select option:selected");
		val=$(".hidden_category").val();
		if(!val || !val.split(",") || val.split(",").indexOf("id"+valId.val()) < 0){
			$(".hidden_category").val(val+"id"+valId.val()+",");
			$(".category_section").append("<span class='selected-category-item' data-id='"+valId.val()+"'>"+valId.text()+" <span onclick='destroy_category(this)'>Удалить</span> </span>")
		}
	})

	function destroy_category(ths){
		th=jQuery(ths);
		parentWrap=th.parents(".selected-category-item");
		id=parentWrap.data("id");
		parentWrap.remove();
		val=$(".hidden_category").val();
		splitedStr=val.split(",");
		splitedStr=jQuery.grep(splitedStr, function(value) {
		  return value != "id"+id;
		});
		if(splitedStr.length>0)
			str=splitedStr.join(",");
		else
			str="";

		$(".hidden_category").val(str);
	}
</script>