<% youtubeinfo=YoutubeInfoId.find_by_user_id(@user.id) %>
<div class="userinfo">
	<div><a href="/profile/<%= @user.id %>"><img src="<%= youtubeinfo.image %>" width="50" height="50"></a></div>
	<div><span><%= youtubeinfo.name %></span></div>
	<div><span><strong><%= youtubeinfo.average_views_per_video %></strong> просмотров за видео</span></div>
	<div><span><strong><%= youtubeinfo.subscribers %></strong> подписчиков</span></div>
	<div><span><strong><%= youtubeinfo.views_per_month %></strong> просмотров в месяц</span></div>
</div>
