<% youtubeinfo=YoutubeInfoId.find_by_user_id(@user.id) %>
<div>
	<div><a href="/profile/<%= @user.id %>"><img src="<%= youtubeinfo.image %>"></a></div>
	<div><%= youtubeinfo.name %></div>
	<div><%= youtubeinfo.average_views_per_video %> views per video</div>
	<div><%= youtubeinfo.subscribers %> subscribers</div>
	<div><%= youtubeinfo.views_per_month %> Monthly Views</div>
</div>
