<div class="middle-block">
	<%= render "leftMenu" %>
	<div class="info-center info-blocks">
		<table cellpadding="10" cellspacing="0" width="100%">
			<tr class="offers-header">
				<th><span>Участник</span></th>
				<th><span>Дата</span></th>
				<th><span>E-mail</span></th>
				<th><span>Подписчики</span></th>
				<th><span>Среднее к-во просмотров на видео</span></th>
				<th><span>Действия</span></th>
			</tr>
			<% @offermessages.each do |f| %>
				<tr>
					<% @user=User.find(f.user_id) %>
					<% youtubeinfoid=YoutubeInfoId.find(@user.youtube_info_id) %>
					<td><a href="/profile/<%= @user.id %>"><%= youtubeinfoid.name %></a></td>
					<td><span><%= f.created_at.strftime("%d-%m-%Y") %><br><%= f.created_at.strftime("%H:%M:%S") %></span></td>
					<td><span><%= @user.email %></span></td>
					<td><span><%= youtubeinfoid.subscribers %></span></td>
					<td><span><%= youtubeinfoid.average_views_per_video %></span></td>
					<td><a href="/profile/<%= @user.id %>">Ппосмотреть профиль</a></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>