<table>
	<tr>
		<th>From</th>
		<th>Date</th>
		<th>Title</th>
		<th>Type</th>
		<th>Actions</th>
	</tr>
	<% @topics.each do |f| %>
		<tr>
			<% user=User.find(f.from_topic) %>
			<% youtubeinfoid=YoutubeInfoId.find_by_user_id(user.id) %>
			<td><a href="/profile/<%= user.id %>"><%= youtubeinfoid.name %></a></td>
			<td><%= f.created_at.strftime("%m/%d/%Y") %></td>
			<td><%= f.name %></td>
			<td><%= f.type %></td>
			<td><a href="/topic/<%= f.id %>">Read</a></td>
		</tr>
	<% end %>
</table>	