<div class="middle-block">
	<%= render "leftMenu" %>
	<div class="info-center">
		<% youtubeinfooid=YoutubeInfoId.find_by_user_id(@user.id) %>
		<% user=@user %>

		<div class="top-block-profile">
			<div class="left-top-profile">
				<img src="<%= youtubeinfooid.image %>">
				<h3><%= youtubeinfooid.name %></h3>
			</div>
			<div class="right-top-profile">
				<h3>Основная информация</h3>
				<p>
					<em>Ютуб канал:</em> 
					<i class="fa fa-youtube-play"></i>
					<a href="https://www.youtube.com/channel/<%= youtubeinfooid.channel_id %>" target="_blank"><strong>https://www.youtube.com/<%= youtubeinfooid.channel_id %></strong></a>
				</p>

				<p>
					<em>Город:</em>
					<strong><%= user.city %></strong>
				</p>

				<p>
					<em>Направление:</em>
					<strong>
						<% categoryIds=user.category.split(",").map{|f| f=f.gsub("id", "").to_i} %>
						<% categos=Category.find(categoryIds) %>
						<% categos.each do |f| %>
							<a href="/category/<%= f.id %>"><%= f.name %></a>
							<% if f.id!=categos.last.id %>
								<span>,</span>
							<% end %>
						<% end %>
					</strong>
				</p>
			</div>
		</div>

		<% if session[:user_id] && session[:user_id].to_i!=params[:id].to_i %>
			<button class="new-topic">Связаться</button>
			<button class="new-yslyga">Связаться по поводу услуги</button>
			<div class="success-creating success-creating-topic"><h3>Предложение создано успешно</h3></div>
			<div class="success-creating success-creating-yslygi"><h3>Услуга создана успешно</h3></div>

			<div class="topic-new" style="display:none;">
				<%= form_for(Topic.new, :url=>"/index/createtopic/#{params[:id]}") do |f| %>
					<div class="field">
						<%= f.label :name, "Тема сообщения: *" %>
						<%= f.text_field :name %>
					</div>

					<div class="field">
						<%= f.label :project_type, "Тип предложения: *" %>
						<select name="topic[project_type]">
							<% Offer::OFFERS_ARRAY_CATEGORY.each do |f| %>
					          <% if youtubeinfooid[f[1]] %><option class="<%= f[1] %>"><%= f[0] %></option><% end %>
					        <% end %>
						</select>
					</div>

					<div class="field" id="happing">
						<div style="overflow:hidden;">
							<%= f.label :happing_to, "Я надеюсь ", :id=>"topic_happing_to" %>
							<select name="topic[happing_to]" id="topic_happing_to_select">
								<option value="начать">начать</option>
								<option value="закончить">закончить</option>
							</select>
							<%= f.text_field :date_happing %>
							<%= f.label :date_happing, " числа", :id=>"topic_date" %>
						</div>
					</div>

					<div class="field">
						<%= f.label :description, "Сообщение:*" %>
						<%= f.text_area :description %>
					</div>

					<div class="field">
						<%= f.label :best, "С наилучшими пожеланиями, " %>
						<%= f.text_field :best, :value=>"#{YoutubeInfoId.find(session[:youtube_info_id]).name}" %>
					</div>
					<input type="submit">
				<% end %>
			</div>	

			<div class="yslyga-new" style="display:none;">
				<%= form_for(Yslygi.new, :url=>"/index/createyslyga/#{params[:id]}") do |f| %>
					<div class="field">
						<%= f.label :name, "Тема сообщения: *" %>
						<%= f.text_field :name %>
					</div>

					<div class="field">
						<%= f.label :category, "Тип услуги: *" %>
						<select name="yslygi[category]">
							<% Yslygi::OFFERS_ARRAY_CATEGORY.each do |f| %>
					          <% if youtubeinfooid[f[1]] %><option class="<%= f[1] %>"><%= f[0] %></option><% end %>
					        <% end %>
						</select>
					</div>

					<div class="field">
						<div style="overflow:hidden;">
							<%= f.label :date, "Дата: *" %>
							<%= f.text_field :date %>
						</div>
					</div>

					<div class="field">
						<%= f.label :description, "Сообщение:*" %>
						<%= f.text_area :description %>
					</div>

					<input type="submit">
				<% end %>
			</div>
		<% elsif !session[:user_id] %>
			<a class="enter-for-collaborate ajax_start"><span class="fon-text">Войдите, чтобы связаться с каналом</span><span class="background-fon-button"></span></a>
		<% end %>

		<% @youtubeinfooid=youtubeinfooid %>
		<%= render "profileInfo" %>

		<div class="interested-collaboration">
			<div class="wrap-blocks-collaboration">
				<div class="collaboration-block">
					<h3>Сотрудничество:</h3>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.create_videos %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Создание видео вместе</span></p></div>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.making_channel_toghether %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Создание нового канала вместе с видеозаписями каждого сотрудника(каждый человек контролирует определенный день недели)</span></p></div>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.cross_promotions_and_email_lists %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Продвижения с помощью друг друга(без YouTube) социальные сети, сайты, e-mail рассылка</span></p></div>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.recommended_channel_swapping %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Обмен "Рекомендованные каналы" на YouTube</span></p></div>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.annotation_or_end_card_or_link_swapping %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Обмен ссылками на канал в описании</span></p></div>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.obmen_like %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Обмен лайками</span></p></div>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.reklama_v_rolike %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Обменой рекламой в ролике</span></p></div>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.open_to_other_types %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Открыт к другим видам сотрудничества</span></p></div>
				</div>
				<hr>
				<div class="sponsor-block">
					<h3>Услуги:</h3>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.brand_product_integration %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Интеграция бренда/продукта в ваши видео</span></p></div>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.product_reviews %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Отзывы о продуктах</span></p></div>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.dedicated_videos %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Выделенное количество видео про бренд</span></p></div>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.offyoutube_promotion %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Продвижение вне YouTube(сайт, соц. сети)</span></p></div>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.including_brand_videos %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Добавление видео про бренд/продукт в плейлист</span></p></div>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.obmen_like_yslyga %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Обмен лайками</span></p></div>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.reklama_v_rolike_yslyga %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Реклама о вас в моем роликек</span></p></div>
					<div class="item-collaboration-block"><p><% if @youtubeinfooid.open_to_other_types_sponsor %><i class="fa fa-check"></i><% else %><i class="fa fa-minus"></i><% end %><span class="label-profile"> Открыт к другим видам услуг</span></p></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(".new-topic").click(function(){
		$(".yslyga-new").hide();
		$(".topic-new").toggle();
	})

	$(".new-yslyga").click(function(){
		$(".topic-new").hide();
		$(".yslyga-new").toggle();
	})

	$("input[type='submit']").click(function(e){
	    e.preventDefault();
	    th=$(this);
		$.ajax({
		        async: true,
		        type: "POST",
		        dataType: 'json',
		        url: th.parents("form").attr("action"),
		        data: th.parents("form").serialize(), 
		        success: function(data){
	              	cls=th.parents("form").attr("class").split("_")[1];
	              	$(".error-registration").remove();

		        	if(data)
		          		add_errors("#"+cls+"_", data);
		          	else
		          	{
		          		$("#"+cls+"_name, #"+cls+"_date_happing, #"+cls+"_description, #"+cls+"_date").val("");
		          		$("."+cls+"-new").show(100);
		          		$(".success-creating-"+cls).show(100);
		          		$('html, body').animate({
					        scrollTop: 0
					    }, 500);
		          		setTimeout(function(){$(".success-creating-"+cls).hide()}, 2000);
		          	}
		        }
	      });
	})
</script>