<!DOCTYPE html>
<html>
<head>
  <title>Youtubeservice</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--<ul>
	<li><a href="/search">Поиск</a></li>
	<% if session[:youtube_info_id] || session[:user_id] %>
		<li><a href="/offer">Предложения</a></li>
		<li><a href="/profile/<% if session[:user_id] %><%= session[:user_id] %><% else %>0<% end %>">Профиль</a></li>
		<li><a href="/account">Акаунт</a></li>
		<li><a href="/directmessages">Сообщения</a></li>
		<li><%= YoutubeInfoId.find(session[:youtube_info_id]).name %></li>
		<li><a href="/index/logout">Logout</a></li>
	<% end %>
</ul>-->
<% unless session[:user_id] %>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<header>
		<div class="header">
			<div class="logo"><a href="/"></a></div>
			<ul>	
				<% if session[:youtube_info_id] %>	
					<li><span class="filling-registration">Заполнение данных</span></li>
				<% else %>
					<li><a href="#" class="ajax_start">Зарегистрироваться</a></li>
					<li><a href="#" class="ajax_start">Войти</a></li>
				<% end %>
			</ul>
		</div>
	</header>
<% end %>
<%= yield %>

</body>
</html>
